*.opensdf
*.sdf
*.suo
*.filters
*.user
Visual Micro/.heizung.vsarduino.h
ipch/heizung-1904ca3b/heizung-3355fbc0.ipch
Visual Micro/Compile.vmps.xml
Visual Micro/Configuration.Debug.vmps.xml
Visual Micro/Configuration.Release.vmps.xml
Visual Micro/Upload.vmps.xml
Release/cl.command.1.tlog
*.tlog
*.pdb
Release/heizung.vcxprojResolveAssemblyReference.cache
Release/heizung.log
*.obj
*.ipch
GUI/build-HeizungGUI-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/HeizungGUI.exe.embed.manifest
GUI/build-HeizungGUI-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/HeizungGUI.exe_manifest.bak
GUI/build-HeizungGUI-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/HeizungGUI.exe_manifest.rc
GUI/build-HeizungGUI-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/HeizungGUI.exe_manifest.res
GUI/build-HeizungGUI-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/debug/moc_Heizung.cpp
GUI/build-HeizungGUI-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/Makefile
GUI/build-HeizungGUI-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/Makefile.Debug
GUI/build-HeizungGUI-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/Makefile.Release
GUI/build-HeizungGUI-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Debug/ui_Heizung.h
GUI/build-HeizungGUI-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Release/Makefile
GUI/build-HeizungGUI-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Release/Makefile.Debug
GUI/build-HeizungGUI-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Release/Makefile.Release
GUI/build-HeizungGUI-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Release/release/HeizungGUI.exe
GUI/build-HeizungGUI-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Release/release/HeizungGUI.exe.embed.manifest
GUI/build-HeizungGUI-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Release/release/moc_Heizung.cpp
GUI/build-HeizungGUI-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Release/release/moc_TempModel.cpp
GUI/build-HeizungGUI-Desktop_Qt_5_3_MSVC2010_OpenGL_32bit-Release/ui_Heizung.h
*.bak
/Release
/__vm/Compile.vmps.xml
/__vm/Configuration.Release.vmps.xml
/__vm
